* {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.hide {
  display: none !important;
}

.container {
  position: relative;
  height: 90%;
  display: grid;
  place-items: center;
}

.list-users {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  gap: 20px;
  list-style: none;

}

.user {
  height: 200px;
  width: 170px;
  background-color: #f5f5f5;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: .5rem;
  text-align: center;
}

.user-image {
  display: flex;
  justify-content: center;
  width: 100%;

}

.user-image img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.user h3 {
  padding-top: 10px;
  
}

.user p {
font-size: 14px;
}

.user-buttons {
  color: #f5f5f5;
}

.user-buttons button {
  
  color: #f5f5f5;
  border: none;
  border: 1px solid #070707;
  padding: 3px 15px;
} 

#btn-edit {
  background-color: rgb(49, 62, 235);
}

#btn-del {
  background-color: red;
}

.edit-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 350px;
  background-color: #f5f5f5;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 6px 16px;
  padding: .5rem;
}

.edit-modal>button {
  position: absolute;
  right: .5rem;
}

.modal-image {
  display: flex;
  justify-content: center;
}

.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.modal-form input {
  height: 25px;
  width: 100%;
  margin-bottom: 10px;
}

#submit {
  height: 30px;
  background-color: rgb(49, 62, 235);
  color: #FFF;
}

.modal-delete {
  display: grid;
  place-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 500px;
  background-color: #f5f5f5;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 6px 16px;
  padding: .5rem;
}

.modal-delete>button {
  position: absolute;
  top: 0.5rem;
  right: .5rem;
}

.modal-delete span {
  opacity: .5;
}